name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  merge_group:
    types:
      - checks_requested

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  OS:
    name: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
  
      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: .nvmrc
          cache: 'yarn'
          registry-url: 'https://registry.npmjs.org'

      - name: Enable Corepack
        run: | 
          corepack enable
          yarn set version 4.11.0
        
      - name: Install dependencies
        run: yarn install --immutable
        shell: bash

      # - name: Lint files
      #   run: yarn lint

      - name: Typecheck files
        run: yarn typecheck

      - name: Run unit tests
        run: yarn test --maxWorkers=2 --coverage

      - name: Build package
        run: yarn prepare

      # - name: Build example for Web
      #   run: |
      #     yarn example expo export --platform web

      - name: Publish to npm
        run: yarn npm publish --access public --provenance
        env:
          # Use YARN_ prefix specifically for Yarn Berry
          YARN_NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN  }}
          
#      - name: Create GitHub Release
#        id: create_release
#        uses: actions/create-release@v1
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        with:
#          tag_name: ${{ github.ref }}
#          release_name: Release ${{ github.ref }}
#          body: |
#            # Changes in this Release
#            Automatically generated release notes (optional - can use action for this too)
#            * Use this space to detail the changes, or use another action to generate them automatically.
#          draft: false
#          prerelease: false
